<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.merek.tournamaker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".front_end.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".front_end.SelectTypeActivity" >
        </activity>
        <activity android:name=".front_end.ResultsActivity" >
        </activity>
        <activity android:name=".front_end.RoundActivity" >
        </activity>
        <activity android:name=".front_end.StatisticsActivity" >
        </activity>
        <activity android:name=".front_end.CreateTournament"
            android:theme="@style/AppTheme.PopupWindowTheme">
        </activity>
        <activity android:name=".front_end.TeamEdit" >
        </activity>
        <activity android:name=".front_end.TeamManager" >
        </activity>
        <activity android:name=".front_end.TournamentSetup" >
        </activity>
        <activity android:name=".front_end.LoadScreen" >
        </activity>
        <activity android:name=".front_end.TeamEditList" >
        </activity>
        <activity android:name=".front_end.TeamCreate" >
        </activity>
        <activity android:name=".front_end.SelectTeams" >
        </activity>
        <activity android:name=".front_end.GameActivity" >
        </activity>
    </application>

</manifest>
